.about__header {
  font-size: 20px;
  font-weight: 400;
  color: #316dc2;
  margin: 49px 0 13px 16px;
}

.about__header-part p {
  font-size: 16px;
  line-height: 22px;
  margin: 0 0 41px 15px;
}

.about__goal-part h3 {
  font-size: 18px;
  font-weight: 400;
  color: #316dc2;
  margin: 0 0 20px 15px;
}

.about__goal-part p {
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 30px 15px;
  width: 290px;
}

.about__more-info-button {
  display: flex;
  align-items: center;
  border: 1px solid #316dc2;
  border-radius: 30px;
  width: 221px;
  height: 42px;
  margin-left: 15px;
  margin-bottom: 40px;
  padding: 0;
  cursor: pointer;
}

.about__more-info-button-text {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  color: #316dc2;
  margin-left: 20px;
  margin-top: 2px;
  margin-right: 21px;
}

.about__advantages {
  background-color: #316dc2;
  border-radius: 20px;
  width: 290px;
  margin-left: 15px;
  padding-top: 42px;
  padding-bottom: 40px;
  margin-bottom: 104px;
}

.about__advantages-item {
  position: relative;
  border: 1px solid #f0efe9;
  border-radius: 16px;
  width: 248px;
  margin-left: 20px;
  margin-bottom: 22px;

  &:last-child {
    margin-bottom: 0;
  }
}

.about__advantages-item h3 {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.16px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 16px 0 16px 20px;
}

.about__advantages-item p {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #f0efe9;
  margin: 0 0 15px 20px;
  width: 198px;
}

.about__advantages-item p br {
  display: none;
}

.about__advantages-item--money h3 {
  line-height: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.about__advantages-item--money p {
  width: 280px;
}

.about__advantages-item--money p br {
  display: inline;
}

.about__advantages-item--money p br:nth-child(2) {
  display: none;
}

.about__advantages-item--members-country h3 {
  margin-bottom: 15px;
}

.about__advantages-item-icon {
  position: absolute;
  left: -21px;
  top: -23px;
}

@media (min-width: $tablet-width) {
  .about__header {
    font-size: 34px;
    margin-top: 56px;
    margin-left: 45px;
    margin-bottom: 36px;
  }

  .about__header-part p {
    font-size: 20px;
    line-height: 26px;
    margin-left: 45px;
    margin-bottom: 37px;
    width: 710px;
  }

  .about__goal-part {
    margin-left: 45px;
  }

  .about__goal-part h3 {
    font-size: 28px;
    margin-left: 0;
    margin-bottom: 28px;
  }

  .about__goal-part p {
    font-size: 16px;
    margin-left: 0;
    margin-bottom: 40px;
    width: 490px;
  }

  .about__goal-part p br {
    display: none;
  }

  .about__more-info-button {
    width: 279px;
    height: 56px;
    margin-left: 0;
    margin-bottom: 60px;
  }

  .about__more-info-button-text {
    font-size: 14px;
    letter-spacing: 0.28px;
    margin-left: 31px;
    margin-top: 0;
    margin-right: 30px;
  }

  .about__more-info-button-icon {
    width: 46px;
    height: 46px;
  }

  .about__advantages {
    display: grid;
    gap: 54px 2px;
    grid-template-columns: 1fr 1fr;
    margin-left: 45px;
    width: 608px;
    padding-top: 72px;
    padding-left: 70px;
    padding-bottom: 49px;
    margin-bottom: 100px;
  }

  .about__advantages-item {
    width: 251px;
    margin-bottom: 0;
    margin-left: 0;
  }

  .about__advantages-item--money h3 {
    margin-top: 16px;
    line-height: 22px;
    margin-bottom: 14px;
  }

  .about__advantages-item h3 {
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.2px;
    width: 140px;
    margin-left: 20px;
    margin-bottom: 14px;
  }

  .about__advantages-item p {
    font-size: 16px;
    margin-left: 20px;
    margin-bottom: 15px;
    width: 210px;
  }

  .about__advantages-item p br {
    display: inline;
  }

  .about__advantages-item--members-country p br {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .about__flex-wrapper {
    display: flex;
  }

  .about__header {
    font-size: 50px;
    margin-top: 67px;
    margin-left: 100px;
    margin-bottom: 25px;
  }

  .about__header-part p {
    font-size: 22px;
    line-height: 32px;
    margin-left: 100px;
  }

  .about__goal-part {
    margin-top: 70px;
    margin-left: 32px;
  }

  .about__goal-part h3 {
    font-size: 32px;
    margin-bottom: 39px;
  }

  .about__goal-part p {
    line-height: 26px;
    margin-bottom: 50px;
  }

  .about__advantages {
    margin-left: 100px;
    padding-left: 120px;
    padding-bottom: 50px;
    width: 1120px;
    grid-template-columns: 490px 490px;
    gap: 54px 46px;
  }

  .about__advantages-item-flex-wrapper {
    display: flex;
  }

  .about__advantages-item {
    width: 482px;
    padding-bottom: 30px;
  }

  .about__advantages-item h3 {
    font-size: 26px;
    line-height: 30px;
    margin-top: 50px;
    margin-left: 40px;
    width: 170px;
  }

  .about__advantages-item p {
    width: 175px;
    margin-top: 50px;
    margin-left: 31px;
    margin-bottom: 0;
  }

  .about__advantages-item p br {
    display: none;
  }

  .about__advantages-item--members-count p {
    margin-top: 30px;
  }

  .about__advantages-item--members-count p br {
    display: inline;
  }

  .about__advantages-item--members-country h3 {
    margin-top: 40px;
  }

  .about__advantages-item--members-country p {
    margin-top: 30px;
    width: 200px;
  }

  .about__advantages-item--members-country p br {
    display: inline;
  }

  .about__advantages-item--money h3 {
    margin-top: 40px;
  }

  .about__advantages-item--money p {
    margin-top: 40px;
    width: 200px;
  }

  .about__advantages-item--members-country,
  .about__advantages-item--money {
    padding-bottom: 26px;
  }
}
