.faq__header {
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 28px 74px;
  color: #316dc2;
}

.faq__questions {
  margin-left: 15px;
  margin-bottom: 104px;
}

.faq__questions-item-flex-wrapper {
  display: flex;
}

.faq__questions-item {
  border: 2px solid #316dc2;
  border-radius: 14px;
  padding: 22px 0 20px;
  width: 286px;
  margin-bottom: 10px;
}

.faq__questions-item--active {
  background-color: #316dc2;
}

.faq__questions-item--continue-learning {
  padding-top: 20px;
}

.faq__questions-item--registration {
  padding-top: 20px;
}

.faq__questions-item--active h3 {
  color: #ffffff;
}

.faq__questions-item-header {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  margin: 0 16px 0 15px;
  color: #316dc2;
  width: 200px;
}

.faq__questions-item-header br {
  display: none;
}

.faq__questions-item-header--learning br:first-child {
  display: inline;
}

.faq__questions-item-header--registration br {
  display: inline;
}

.faq__questions-item-header--grant br {
  display: inline;
}

.faq__questions-item-expand {
  background-color: #316dc2;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-top: -2px;
}

.faq__questions-item-expand--continue-learning {
  margin-top: 7px;
}

.faq__questions-item-expand--registration {
  margin-top: 16px;
}

.faq__questions-item-expand-icon {
  stroke: #ffffff;
  margin-top: 2px;
}

.faq__questions-item p {
  display: none;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  margin: 20px 0 0 15px;
  width: 250px;
}

.faq__questions-item--active p {
  display: inline-block;
}

@media (min-width: $tablet-width) {
  .faq__header {
    font-size: 34px;
    margin-bottom: 45px;
    margin-left: 239px;
  }

  .faq__questions {
    margin-left: 45px;
    margin-bottom: 106px;
  }

  .faq__questions-item {
    width: 674px;
    padding: 30px 0;
    border-radius: 16px;
  }

  .faq__questions-item p {
    font-size: 16px;
    width: 590px;
    margin-left: 30px;
  }

  .faq__questions-item p br {
    display: none;
  }

  .faq__questions-item p br:first-child {
    display: inline;
  }

  .faq__questions-item-header {
    font-size: 22px;
    line-height: 26px;
    width: 574px;
    margin-left: 30px;
    margin-top: 7px;
    margin-right: 0;
  }

  .faq__questions-item-header br {
    display: none;
  }

  .faq__questions-item-header--learning br:first-child {
    display: none;
  }

    .faq__questions-item-header--learning {
    margin-top: 0;
  }

  .faq__questions-item-header--registration {
    margin-top: 0;
  }

  .faq__questions-item-header--learning br:nth-child(2) {
    display: inline;
  }

  .faq__questions-item-header--registration br {
    display: inline;
  }

  .faq__questions-item-expand {
    margin-top: 0;
  }

  .faq__questions-item-expand-icon {
    margin-top: 4px;
  }
}

@media (min-width: $desktop-width) {
  .faq__header {
    font-size: 50px;
    margin-left: 507px;
    margin-bottom: 67px;
  }

  .faq__questions {
    margin-left: 206px;
    margin-bottom: 122px;
  }

  .faq__questions-item {
    width: 1024px;
    padding: 43px 0 40px;
  }

  .faq__questions-item-header {
    font-size: 28px;
    line-height: 34px;
    margin-left: 41px;
    margin-top: 0;
    width: 894px;
  }

  .faq__questions-item-header--learning {
    margin-top: -3px;
  }


  .faq__questions-item-header--registration {
    margin-top: -3px;
  }

  .faq__questions-item-header br {
    display: none;
  }

  .faq__questions-item-header--learning br:nth-child(2) {
    display: none;
  }

  .faq__questions-item p {
    line-height: 26px;
    width: 914px;
    margin-left: 40px;
  }

  .faq__questions-item p br:first-child {
    display: none;
  }

  .faq__questions-item p br {
    display: none;
  }

  .faq__questions-item-expand {
    margin-left: 9px;
    margin-top: -3px;
  }

  .faq__questions-item-expand--cost {
    margin-left: 13px;
  }
}
