.footer__logo {
  margin-left: 134px;
  margin-bottom: 19px;
}

.footer__links {
  margin-left: 17px;
}

.footer__links-top {
  display: flex;
}

.footer__link {
  display: inline-block;
  font-size: 14px;
  text-decoration: none;
  color: #484848;
  margin-right: 31px;
  margin-bottom: 21px;

  &:last-child {
    margin-right: 0;
  }
}

.footer__link--reviews {
  margin-left: 28px;
  margin-right: 27px;
}

.footer__link--contacts {
  margin-left: -3px;
}

.footer__privacy-policy {
  display: block;
  font-size: 12px;
  color: #484848;
  margin-top: 2px;
  margin-left: 69px;
  margin-bottom: 7px;
  padding-bottom: 2px;
  text-decoration: none;
  border-bottom: 1px solid #484848;
  width: 182px;
}

.footer__copyright {
  display: inline-block;
  font-size: 12px;
  margin-left: 43px;
  margin-bottom: 14px;
}

.footer__social-links {
  display: flex;
  margin-left: 111px;
  margin-bottom: 40px;
}

.footer__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  background-color: #316dc2;
  border-radius: 50%;
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.footer__social-link-icon {
  fill: #ffffff;
}

@media (min-width: $tablet-width) {
  .footer {
    position: relative;
    padding-bottom: 40px;
  }

  .footer__flex-wrapper {
    display: flex;
  }

  .footer__logo {
    margin-left: 45px;
    margin-right: 98px;
  }

  .footer__links {
    display: flex;
    margin-top: 17px;
    margin-left: 0;
  }

  .footer__link {
    font-size: 16px;
    margin-bottom: 0;
    margin-right: 16px;
  }

  .footer__link--reviews {
    margin-left: 15px;
    margin-right: 15px;
  }

  .footer__link--contacts {
    margin-left: 0;
  }

  .footer__privacy-policy {
    margin-left: 45px;
    margin-top: 6px;
    padding-bottom: 0;
    margin-bottom: 6px;
  }

  .footer__copyright {
    margin-left: 45px;
  }

  .footer__social-links {
    position: absolute;
    margin: 0;
    right: 45px;
    bottom: 16px;
  }

  .footer__social-link {
    width: 36px;
    height: 36px;
  }

  .footer__social-link-icon--vk {
    width: 16px;
    height: 10px;
  }

  .footer__social-link-icon--ok {
    width: 10px;
    height: 16px;
  }

  .footer__social-link-icon--reddit {
    width: 16px;
    height: 16px;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    padding-bottom: 45px;
  }

  .footer__logo {
    margin-left: 100px;
    margin-right: 53px;
  }

  .footer__link {
    margin-right: 30px;
  }

  .footer__link--reviews {
    margin-left: 31px;
  }

  .footer__link--contacts {
    margin-left: 1px;
  }

  .footer__social-links {
    right: 100px;
    bottom: 52px;
  }

  .footer__social-link {
    margin-right: 20px;
  }

  .footer__privacy-policy {
    font-size: 14px;
    width: 212px;
    margin-left: 1128px;
    margin-top: 7px;
    padding-bottom: 2px;
  }

  .footer__copyright {
    display: block;
    font-size: 14px;
    margin-top: -24px;
    margin-bottom: 0;
    margin-left: 100px;
  }
}
