.form__background-wrapper {
  background-image: url("../../img/mobile/form-background-1x.webp");

  @media (resolution >= 2dppx) {
    background-image: url("../../img/mobile/form-background-2x.webp");
  }

  padding: 43px 10px 40px;
  margin-bottom: 80px;
}

.form__content {
  background-color: #316dc2;
  border-radius: 16px;
  padding: 16px 15px 27px;
}

.form__header {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  margin: 0 0 11px;
}

.form__text {
  font-size: 14px;
  line-height: 20px;
  color: #f0efe9;
  margin: 0 0 21px;
}

.form__label {
  display: block;
  font-size: 12px;
  color: #f0efe9;
  margin-bottom: 11px;
}

.form__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  background: transparent;
  width: 264px;
  height: 46px;
  margin-bottom: 21px;
}

.form__textarea {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  background: transparent;
  resize: none;
  width: 264px;
  height: 88px;
  margin-bottom: 18px;
}

.form__select {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  background-color: transparent;
  appearance: none;
  background-image: url("../../img/mobile/select-arrow-1x.webp");

  @media (resolution >= 2dppx) {
    background-image: url("../../img/mobile/select-arrow-2x.webp");
  }

  background-repeat: no-repeat;
  background-position-x: 222px;
  background-position-y: 50%;
  width: 260px;
  height: 52px;
  cursor: pointer;
  margin-bottom: 21px;
}

.form__checkbox-label {
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  user-select: none;
  margin-left: 15px;
  margin-bottom: 19px;
  cursor: pointer;

  &::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    border-radius: 2px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    margin-left: -15px;
    margin-right: 10px;
    margin-top: -2px;
  }
}

.form__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;

  &:checked + .form__checkbox-label::before {
    background-image: url("../../img/mobile/checkbox-checked-1x.webp");

    @media (resolution >= 2dppx) {
      background-image: url("../../img/mobile/checkbox-checked-2x.webp");
    }
  }
}

.form__submit-button {
  display: flex;
  align-items: center;
  border: 1px solid #ffffff;
  border-radius: 30px;
  background: transparent;
  padding: 0;
  width: 260px;
  height: 44px;
}

.form__submit-button-text {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: 74px;
  margin-top: 1px;
  margin-right: 74px;
}
