.grant {
  background-color: #316dc2;
}

.grant__how-to-go-header {
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  margin: 0 0 13px 15px;
  padding-top: 69px;
}

.grant__left-side-desktop p {
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  margin: 0 0 30px 15px;
}

.grant__left-side-desktop p br {
  display: none;
}

.grant__img {
  border-radius: 16px;
  margin-left: 15px;
  margin-bottom: 36px;
}

.grant__how-to-get-header {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #ffffff;
  margin: 0 0 30px 15px;
  width: 210px;
}

.grant__how-to-get-list {
  margin: 0;
  padding: 0 0 70px;
  list-style-type: none;
}

.grant__how-to-get-item {
  position: relative;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 16px;
  padding: 24px 0 24px 25px;
  margin-left: 30px;
  margin-bottom: 15px;
  width: 248px;

  &:last-child {
    margin-bottom: 0;
  }
}

.grant__how-to-get-item-number {
  position: absolute;
  left: -16px;
  top: -6px;
  z-index: 1;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  width: 21px;
  height: 26px;
  padding-left: 11px;
  padding-top: 6px;
  border-radius: 50%;
  background-color: #316dc2;
}

.grant__how-to-get-item-number--first {
  padding-left: 12px;
  width: 20px;
}

@media (min-width: $tablet-width) {
  .grant__how-to-go-header {
    font-size: 34px;
    padding-top: 106px;
    margin-left: 45px;
    margin-bottom: 35px;
  }

  .grant__left-side-desktop p {
    font-size: 16px;
    margin-left: 45px;
    margin-bottom: 40px;
    width: 500px;
  }

  .grant__left-side-desktop p br {
    display: inline;
  }

  .grant__img {
    margin-left: 45px;
    margin-bottom: 49px;
  }

  .grant__how-to-get-header {
    font-size: 28px;
    width: auto;
    margin-left: 45px;
    margin-bottom: 48px;
  }

  .grant__how-to-get-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px 3px;
    margin-left: 65px;
    padding-bottom: 100px;
  }

  .grant__how-to-get-item {
    font-size: 16px;
    margin: 0;
    padding: 30px 30px 30px 25px;
  }

  .grant__how-to-get-item-number {
    font-size: 22px;
    top: -11px;
    width: 29px;
    height: 31px;
    padding-left: 10px;
  }

  .grant__how-to-get-item-number--first {
    padding-left: 12px;
    width: 26px;
  }
}

@media (min-width: $desktop-width) {
  .grant__flex-wrapper {
    display: flex;
  }

  .grant__how-to-go-header {
    font-size: 50px;
    padding-top: 117px;
    margin-left: 100px;
    margin-bottom: 26px;
  }

  .grant__left-side-desktop p {
    line-height: 26px;
    margin-left: 100px;
  }

  .grant__how-to-get-list {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-left: 156px;
    padding-bottom: 120px;
  }

  .grant__how-to-get-header {
    font-size: 32px;
    line-height: 36px;
    margin-top: 130px;
    margin-left: 136px;
    margin-bottom: 55px;
    width: 373px;
  }

  .grant__how-to-get-item {
    line-height: 26px;
    padding-right: 203px;
    margin-bottom: 23px;
  }

  .grant__how-to-get-item-number {
    top: -14px;
    height: 35px;
  }

  .grant__how-to-get-item-text {
    display: inline-block;
    width: 420px;
  }

  .grant__how-to-get-item-text br {
    display: none;
  }

  .grant__img {
    margin-left: 100px;
  }
}
