.news__header {
  font-size: 20px;
  font-weight: 400;
  color: #316dc2;
  margin: 49px 0 22px 57px;
}

.news__category-button-list {
  display: flex;
  margin-left: 15px;
  margin-bottom: 24px;
}

.news__category-button {
  background-color: transparent;
  border: none;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.24px;
  color: #316dc2;
  text-transform: uppercase;
  padding: 10px 15px 9px;
  margin-right: 10px;
}

.news__category-button--active {
  border: 2px solid #316dc2;
  border-radius: 20px;
}

.news__items {
  margin-bottom: 23px;
}

.news__item {
  position: relative;
  border-radius: 12px;
  background-repeat: no-repeat;
  margin-left: 15px;
  margin-bottom: 18px;
}

.news__item--interview {
  background-image: url("../../img/mobile/news/interview-background-1x.webp");

  @media (resolution >= 2dppx) {
    background-image: url("../../img/mobile/news/interview-background-2x.webp");
  }

  padding-top: 186px;
}

.news__item--travel {
  background-image: url("../../img/mobile/news/travel-background-1x.webp");

  @media (resolution >= 2dppx) {
    background-image: url("../../img/mobile/news/travel-background-2x.webp");
  }

  padding-top: 126px;
}

.news__item--volunteering {
  display: none;
}

.news__item--career {
  display: none;
}

.news__item-date {
  display: inline-block;
  background-color: #f0efe9;
  border-radius: 0 12px 0 0;
  font-size: 12px;
  letter-spacing: 0.12px;
  color: #316dc2;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 4px;
}

.news__item-date--travel {
  padding-right: 13px;
}

.news__item-date-angle {
  position: absolute;
  left: 0;
  top: 170px;
  fill: #f0efe9;
}

.news__item-date-angle--travel {
  top: 110px;
}

.news__item-date-angle--after {
  left: 78px;
  top: 200px;
  fill: #f0efe9;
}

.news__item-date-angle--after-travel {
  top: 140px;
  left: 79px;
}

.news__item-header {
  background-color: #f0efe9;
  border-radius: 0 12px 0 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #316dc2;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 4px;
  width: 200px;
}

.news__item-header br {
  display: none;
}

.news__item-header-angle {
  position: absolute;
  right: 89px;
  bottom: 66px;
  fill: #f0efe9;
}

.news__item-header-angle--travel {
  bottom: 53px;
}

.news__item-flex-wrapper {
  position: relative;
  display: flex;
}

.news__item-flex-wrapper p {
  font-size: 12px;
  line-height: 14px;
  background-color: #f0efe9;
  border-radius: 0 12px;
  width: 263px;
  margin: 0;
  padding-top: 13px;
  padding-bottom: 11px;
}

.news__item-flex-wrapper--travel p {
  padding-top: 14px;
}

.news__item-flex-wrapper p br {
  display: none;
}

.news__item-flex-wrapper p br:nth-child(2) {
  display: inline;
}

.news__item-flex-wrapper p span {
  display: block;
  width: 190px;
}

.news__item-icon {
  position: absolute;
  right: 52px;
  top: 18px;
}

.news__item-icon--travel {
  top: 12px;
}

.news__item-text-angle {
  position: absolute;
  right: 26px;
  bottom: 2px;
  fill: #f0efe9;
}

.news__item-text-angle--travel {
  bottom: 1px;
}

.news__pagination {
  display: flex;
  margin-left: 21px;
  margin-bottom: 99px;
}

.news__pagination-switcher {
  background: transparent;
  border: none;
  padding: 0;
}

.news__pagination-switcher--left {
  margin-right: 53px;
}

.news__pagination-items {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.news__pagination-switcher-icon {
  display: block;
  stroke: #316dc2;
}

.news__pagination-switcher-icon--right {
  transform: rotate(180deg);
}

.news__pagination-switcher--disabled svg {
  stroke: #a9afb7;
}

.news__pagination-item {
  padding: 4px 10px;
  cursor: pointer;
  margin-right: 15px;

  &:last-child {
    margin-left: -2px;
    margin-right: 53px;
  }
}

.news__pagination-item--active {
  background-color: #316dc2;
  border-radius: 50%;
}

.news__pagination-item-link {
  font-size: 14px;
  color: #316dc2;
  text-decoration: none;
}


.news__pagination-item-link--active {
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .news__header {
    font-size: 34px;
    margin: 56px 0 35px 209px;
  }

  .news__category-button-list {
    margin-left: 47px;
    margin-bottom: 30px;
  }

  .news__category-button {
    font-size: 14px;
    letter-spacing: 0.28px;
    padding: 13px 20px;
  }

  .news__items {
    display: grid;
    grid-template-columns: 325px 325px;
    margin-left: 45px;
    margin-bottom: 30px;
    gap: 30px 29px;
  }

  .news__item {
    margin: 0;
  }

  .news__item--interview {
    background-image: url("../../img/tablet/news/interview-background-1x.webp");

    @media (resolution >= 2dppx) {
      background-image: url("../../img/tablet/news/interview-background-2x.webp");
    }

    padding-top: 101px;
  }

  .news__item--travel {
    background-image: url("../../img/tablet/news/travel-background-1x.webp");

    @media (resolution >= 2dppx) {
      background-image: url("../../img/tablet/news/travel-background-2x.webp");
    }

    padding-top: 189px;
  }

  .news__item--volunteering {
    display: block;
    background-image: url("../../img/tablet/news/volunteering-background-1x.webp");

    @media (resolution >= 2dppx) {
      background-image: url("../../img/tablet/news/volunteering-background-2x.webp");
    }

    padding-top: 189px;
  }

  .news__item--career {
    display: block;
    background-image: url("../../img/tablet/news/career-background-1x.webp");

    @media (resolution >= 2dppx) {
      background-image: url("../../img/tablet/news/career-background-2x.webp");
    }

    padding-top: 169px;
  }

  .news__item-header {
    font-size: 20px;
    line-height: 24px;
    width: 207px;
    padding-top: 11px;
    padding-bottom: 5px;
  }

  .news__item-header br {
    display: inline;
  }

  .news__item-icon {
    right: 103px;
    top: 37px;
  }

  .news__item-icon--travel {
    top: 17px;
  }

  .news__item-icon--volunteering {
    top: 17px;
  }

  .news__item-icon--career {
    top: 27px;
  }

  .news__item-flex-wrapper p {
    font-size: 14px;
    line-height: 20px;
    padding-top: 12px;
    padding-bottom: 15px;
    width: 240px;
  }

  .news__item-text-angle {
    right: 69px;
    bottom: 0;
  }

  .news__item-flex-wrapper p br {
    display: inline;
  }

  .news__item-flex-wrapper p br {
    &:nth-child(2) {
      display: none;
    }
  }

  .news__item-date-angle {
    top: 85px;
  }

  .news__item-date-angle--travel {
    top: 173px;
  }

  .news__item-date-angle--volunteering {
    top: 173px;
  }

  .news__item-date-angle--career {
    top: 153px;
  }

  .news__item-date-angle--after {
    top: 115px;
  }

  .news__item-date-angle--after-travel {
    top: 203px;
  }

  .news__item-date-angle--after-volunteering {
    top: 203px;
    left: 75px;
  }

  .news__item-date-angle--after-career {
    top: 183px;
    left: 76px;
  }

  .news__item-header-angle {
    right: 102px;
    bottom: 107px;
  }

  .news__item-header-angle--travel {
    top: 267px;
    left: 207px;
  }

  .news__item-header-angle--volunteering {
    top: 267px;
    left: 207px;
  }

  .news__item-header-angle--career {
    top: 247px;
  }

  .news__pagination {
    margin-left: 51px;
    margin-bottom: 106px;
  }

  .news__pagination-item {
    padding: 7px 13px;
    margin-right: 18px;

    &:last-child {
      margin-right: 227px;
    }
  }

  .news__pagination-switcher--left {
    margin-right: 229px;
  }

  .news__pagination-item-link {
    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .news__header {
    font-size: 50px;
    margin-left: 463px;
    margin-top: 57px;
    margin-bottom: 36px;
  }

  .news__item-date {
    padding-right: 13px;
  }

  .news__category-button-list {
    margin-left: 360px;
    margin-bottom: 40px;
  }

  .news__category-button {
    padding-left: 34px;
    padding-right: 34px;
    margin-right: -2px;
  }

  .news__category-button--internships {
    margin-left: -22px;
    margin-right: 1px;
  }

  .news__item-header {
    font-size: 24px;
    line-height: 26px;
    width: 426px;
    padding-top: 18px;
    padding-bottom: 6px;
  }

  .news__item-header--travel {
    width: 190px;
    padding-top: 10px;
    padding-bottom: 4px;
  }

  .news__item-header--volunteering {
    width: 190px;
    padding-top: 10px;
    padding-bottom: 4px;
  }

  .news__item-header br {
    display: none;
  }

  .news__item-flex-wrapper p {
    line-height: 18px;
    width: 468px;
    padding-top: 12px;
  }

  .news__item-flex-wrapper p br {
    display: none;
  }

  .news__item-flex-wrapper p span {
    width: 410px;
  }

  .news__item-flex-wrapper--travel p {
    width: 240px;
    padding-top: 12px;
  }

  .news__item-flex-wrapper--travel p span {
    width: 185px;
  }

  .news__item-flex-wrapper--volunteering p {
    width: 244px;
    padding-top: 12px;
  }

  .news__item-flex-wrapper--volunteering p span {
    width: 185px;
  }

  .news__items {
    display: flex;
    gap: 0;
    margin-left: 100px;
    margin-bottom: 40px;
  }

  .news__item {
    margin-right: 32px;
    width: 286px;
  }

  .news__item--big {
    width: 604px;
  }

  .news__item--interview {
    background-image: url("../../img/desktop/news/interview-background-1x.webp");

    @media (resolution >= 2dppx) {
      background-image: url("../../img/desktop/news/interview-background-2x.webp");
    }

    padding-top: 231px;
  }

  .news__item--travel {
    background-image: url("../../img/desktop/news/travel-background-1x.webp");

    @media (resolution >= 2dppx) {
      background-image: url("../../img/desktop/news/travel-background-2x.webp");
    }

    padding-top: 241px;
  }

  .news__item--volunteering {
    display: block;
    background-image: url("../../img/desktop/news/volunteering-background-1x.webp");

    @media (resolution >= 2dppx) {
      background-image: url("../../img/desktop/news/volunteering-background-2x.webp");
    }

    padding-top: 215px;
  }

  .news__item--career {
    display: none;
  }

  .news__item-icon {
    right: 154px;
    top: 15px;
  }

  .news__item-icon--travel {
    right: 64px;
    top: 15px;
  }

  .news__item-icon--volunteering {
    right: 60px;
    top: 15px;
  }

  .news__item-date-angle {
    top: 215px;
  }

  .news__item-date-angle--travel {
    top: 225px;
  }

  .news__item-date-angle--volunteering {
    top: 199px;
  }

  .news__item-date-angle--after {
    top: 245px;
    left: 78px;
  }

  .news__item-date-angle--after-travel {
    top: 255px;
  }

  .news__item-date-angle--after-volunteering {
    top: 229px;
    left: 75px;
  }

  .news__item-header-angle {
    right: 162px;
    bottom: 63px;
  }

  .news__item-header-angle--travel {
    top: 321px;
    left: 190px;
  }

  .news__item-header-angle--volunteering {
    top: 321px;
    left: 190px;
  }

  .news__item-text-angle {
    right: 120px;
  }

  .news__item-text-angle--travel {
    right: 30px;
  }

  .news__item-text-angle--volunteering {
    right: 26px;
  }

  .news__pagination {
    margin-left: 107px;
    margin-bottom: 127px;
  }

  .news__pagination-switcher--left {
    margin-right: 509px;
  }

  .news__pagination-item:last-child {
    margin-right: 509px;
  }
}
