.programs__header-flex-wrapper {
  position: relative;
  display: flex;
  margin-left: 15px;
  margin-bottom: 33px;
}

.programs__header {
  font-size: 20px;
  font-weight: 400;
  color: #316dc2;
  margin: 0 133px 0 0;
}

.programs__slider-buttons {
  display: flex;
}

.programs__slider-button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

.programs__slider-button--left {
  margin-right: 20px;
}

.programs__slider-button-icon {
  display: block;
  stroke: #316dc2;
  margin-top: -1px;
}

.programs__slider-button-icon--right {
  transform: rotate(180deg);
}

.programs__slider-button--disabled svg {
  stroke: #a9afb7;
}

.programs__slides {
  display: flex;
  margin-bottom: 94px;
}

.programs__slide {
  position: relative;
  background-repeat: no-repeat;
  margin-left: 15px;
  border-radius: 12px;
  padding-top: 271px;
}

.programs__slide--internships {
  background-image: url("../../img/mobile/programs-slide-internships-background-1x.webp");

  @media (resolution >= 2dppx) {
    background-image: url("../../img/mobile/programs-slide-internships-background-2x.webp");
  }
}

.programs__slide--volunteering {
  display: none;
  background-image: url("../../img/mobile/programs-slide-volunteering-background-1x.webp");

  @media (resolution >= 2dppx) {
    background-image: url("../../img/mobile/programs-slide-volunteering-background-2x.webp");
  }
}

.programs__slide--learning {
  display: none;
}

.programs__slide-header {
  display: inline-block;
  background-color: #ffffff;
  border-radius: 12px 12px 0 0;
  font-size: 16px;
  font-weight: 400;
  color: #316dc2;
  margin: 0 0 0 10px;
  padding: 18px 35px 6px 18px;
}

.programs__slide-angle {
  position: absolute;
  right: 132px;
  bottom: 117px;
  fill: #ffffff;
}

.programs__slide-flex-wrapper {
  display: flex;
}

.programs__slide-flex-wrapper p {
  font-size: 12px;
  line-height: 14px;
  margin: 0;
  padding: 13px 29px 14px 18px;
  width: 175px;
}

.programs__slide-text-background-wrapper {
  display: inline-block;
  background-color: #ffffff;
  border-radius: 0 12px 12px;
  margin-left: 10px;
  margin-bottom: 48px;
}

.programs__more-info-link {
  position: absolute;
  left: 0;
  top: 486px;
  width: 203px;
  height: 42px;
  margin-bottom: 50px;

  &:hover {
    background-color: #316dc2;
  }

  &:hover .programs__more-info-link-text {
    color: #fff;
  }

  &:hover .programs__more-info-link-icon-wrapper {
    background-color: #fff;
  }

  &:hover .programs__more-info-link-icon {
    stroke: #316dc2;
    transform: rotate(45deg);
  }

  &:focus .programs__more-info-link-icon {
    transform: rotate(45deg);
  }

  &:active .programs__more-info-link-text,
  &:active .programs__more-info-link-icon {
    opacity: 0.7;
  }

  &:disabled {
    background-color: #fff;
    border-color: #a9afb7;
  }

  &:disabled .programs__more-info-link-text {
    color: #a9afb7;
  }

  &:disabled .programs__more-info-link-icon-wrapper {
    background-color: #a9afb7;
  }

  &:disabled .programs__more-info-link-icon {
    stroke: #a9afb7;
  }
}

.programs__more-info-link-icon-wrapper {
  width: 34px;
  height: 34px;
  background-color: #316dc2;
  border-radius: 50%;
}

.programs__more-info-link-icon {
  margin-left: 14px;
  margin-top: 13px;
  stroke: #fff;
}

.programs__more-info-link-text {
  margin-left: 30px;
  margin-top: 2px;
  margin-right: 30px;
}

.programs__slide-link-more-info {
  width: 30px;
  height: 30px;
  background-color: #316dc2;
  border-radius: 50%;
  margin-top: 18px;
  margin-right: 18px;
  padding: 0;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #fff;
  }

  &:hover .programs__slide-link-icon {
    stroke: #316dc2;
    transform: rotate(45deg);
  }

  &:active .programs__slide-link-icon {
    opacity: 0.7;
  }

  &:focus .programs__slide-link-icon {
    transform: rotate(45deg);
  }

  &:disabled {
    background-color: #a9afb7;
  }

  &:disabled .programs__slide-link-icon  {
    stroke: rgba(255, 255, 255, 0.6);
  }
}

.programs__slide-link-icon {
  display: block;
  margin-top: 0;
  margin-left: 11px;
  stroke: #fff;
}

.programs__pagination {
  display: none;
}

@media (min-width: $tablet-width) {
  .programs__header {
    font-size: 34px;
  }

  .programs__header-flex-wrapper {
    margin-left: 45px;
    margin-bottom: 48px;
    margin-top: 10px;
  }

  .programs__slider-buttons {
    position: absolute;
    bottom: -524px;
    right: 52px;
  }

  .programs__more-info-link {
    top: -9px;
    right: 45px;
    left: auto;
    width: 232px;
    height: 54px;
  }

  .programs__more-info-link-icon-wrapper {
    width: 46px;
    height: 46px;
  }

  .programs__more-info-link-icon {
    margin-left: 20px;
    margin-top: 19px;
  }

  .programs__more-info-link-text {
    margin-top: 0;
  }

  .programs__slides {
    margin-left: 45px;
    margin-bottom: 50px;
  }

  .programs__slide {
    margin-left: 0;
    margin-right: 30px;
    padding-right: 20px;
    width: 324px;
    padding-top: 285px;
  }

  .programs__slide--internships {
    background-image: url("../../img/tablet/programs-slide-internships-background-1x.webp");

    @media (resolution >= 2dppx) {
      background-image: url("../../img/tablet/programs-slide-internships-background-2x.webp");
    }
  }

  .programs__slide--volunteering {
    display: block;
    background-image: url("../../img/tablet/programs-slide-volunteering-background-1x.webp");

    @media (resolution >= 2dppx) {
      background-image: url("../../img/tablet/programs-slide-volunteering-background-2x.webp");
    }
  }

  .programs__slide--learning {
    display: block;
    background-image: url("../../img/tablet/programs-slide-learning-background-1x.webp");

    @media (resolution >= 2dppx) {
      background-image: url("../../img/tablet/programs-slide-learning-background-2x.webp");
    }
  }

  .programs__slide-angle {
    right: 113px;
    bottom: 97px;
  }

  .programs__slide-header {
    font-size: 20px;
    padding: 14px 39px 1px 18px;
    margin-left: 20px;
  }

  .programs__slide-header--volunteering {
    padding-right: 19px;
  }

  .programs__slide-text-background-wrapper {
    margin-left: 20px;
    margin-bottom: 10px;
  }

  .programs__slide-flex-wrapper p {
    font-size: 14px;
    line-height: 20px;
    width: 200px;
    padding-top: 12px;
    padding-bottom: 15px;
    padding-right: 18px;
  }

  .programs__slide-link-more-info {
    margin-top: 27px;
  }

  .programs__pagination {
    display: block;
  }

  .programs__pagination-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0 0 60px 45px;
  }

  .programs__pagination-item {
    height: 2px;
    background-color: #316dc2;
  }

  .programs__pagination-item--active {
    width: 326px;
  }

  .programs__pagination-item--disabled {
    width: 236px;
    opacity: 0.2;
  }

  .programs__pagination-item--desktop {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .programs__header-flex-wrapper {
    margin-left: 100px;
    margin-bottom: 41px;
    margin-top: 48px;
  }

  .programs__header {
    font-size: 50px;
    margin-top: 14px;
  }

  .programs__more-info-link {
    top: 14px;
    right: 100px;
  }

  .programs__more-info-link-text {
    margin-right: 31px;
  }

  .programs__more-info-link-icon {
    margin-left: 19px;
  }

  .programs__slides {
    margin-left: 100px;
    margin-bottom: 47px;
  }

  .programs__slide {
    margin: 0 12px 0 0;
    width: 392px;
    padding-top: 280px;
    padding-bottom: 10px;
  }

  .programs__slide--internships {
    background-image: url("../../img/desktop/programs-slide-internships-background-1x.webp");

    @media (resolution >= 2dppx) {
      background-image: url("../../img/desktop/programs-slide-internships-background-2x.webp");
    }
  }

  .programs__slide--volunteering {
    display: block;
    background-image: url("../../img/desktop/programs-slide-volunteering-background-1x.webp");

    @media (resolution >= 2dppx) {
      background-image: url("../../img/desktop/programs-slide-volunteering-background-2x.webp");
    }
  }

  .programs__slide--learning {
    display: block;
    background-image: url("../../img/desktop/programs-slide-learning-background-1x.webp");

    @media (resolution >= 2dppx) {
      background-image: url("../../img/desktop/programs-slide-learning-background-2x.webp");
    }
  }

  .programs__slide-header {
    font-size: 24px;
    padding-right: 37px;
    padding-bottom: 0;
    padding-top: 13px;
  }

  .programs__slide-header--volunteering {
    padding-right: 13px;
  }

  .programs__slide-header--learning {
    padding-right: 108px;
  }

  .programs__slide-flex-wrapper p {
    padding-top: 22px;
    padding-bottom: 24px;
    padding-right: 16px;
    line-height: 18px;
    width: 239px;
  }

  .programs__slide-flex-wrapper p br {
    display: none;
  }

  .programs__slide--internships p {
    padding-top: 12px;
    padding-bottom: 15px;
  }

  .programs__slide-link-more-info {
    margin-top: 25px;
  }

  .programs__slide-angle {
    right: 180px;
    bottom: 102px;
  }

  .programs__pagination-list {
    margin-left: 100px;
    margin-bottom: 70px;
  }

  .programs__pagination-item--active {
    width: 394px;
  }

  .programs__pagination-item--disabled {
    width: 371px;
  }

  .programs__pagination-item--desktop {
    display: block;
  }

  .programs__slider-buttons {
    bottom: -517px;
    right: 107px;
  }
}
