.reviews__flex-wrapper {
  display: flex;
  margin-bottom: 33px;
}

.reviews__header {
  font-size: 20px;
  font-weight: 400;
  color: #316dc2;
  margin: 0 172px 0 15px;
}

.reviews__slider-buttons {
  display: flex;
  margin-top: -3px;
}

.reviews__slider-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.reviews__slider-button--disabled svg {
  stroke: #a9afb7;
}

.reviews__slider-button--left {
  margin-right: 20px;
}

.reviews__slider-button-icon {
  stroke: #316dc2;
}

.reviews__slider-button-icon--right {
  transform: rotate(180deg);
}

.reviews__slide-list {
  margin-bottom: 50px;
}

.reviews__slide {
  border: 2px solid #316dc2;
  border-radius: 16px;
  width: 286px;
  margin-left: 15px;
}

.reviews__slide--david-ivanov {
  display: none;
}

.reviews__slide-avatar-name {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-left: 15px;
}

.reviews__slide-avatar {
  margin-right: 10px;
}

.reviews__slide-name {
  font-size: 14px;
  line-height: 18px;
  color: #316dc2;
  margin-top: -4px;
}

.reviews__slide-data {
  display: flex;
  margin-left: 15px;
  margin-top: 11px;
  margin-bottom: 25px;
}

.reviews__slide-data-wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 26px;

  &:last-child {
    margin-right: 0;
  }
}

.reviews__slide-data-title {
  font-size: 12px;
  letter-spacing: 0.12px;
  text-transform: uppercase;
  color: #316dc2;
  margin-bottom: 7px;
}

.reviews__slide-data-text {
  font-size: 12px;
  opacity: 0.9;
}

.reviews__slide-header {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #316dc2;
  margin: 0 0 20px 15px;
}

.reviews__slide-header br {
  display: none;
}

.reviews__slide p {
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 30px 15px;
  width: 250px;
}

.reviews__slide p br {
  display: none;
}

.reviews__slide--lola-alex p br:first-child {
  display: inline;
}

.reviews__slide--lola-alex p br:nth-child(3),
.reviews__slide--lola-alex p br:nth-child(4)
{
  display: inline;
}

.reviews__pagination {
  display: none;
}

@media (min-width: $tablet-width) {
  .reviews__header {
    font-size: 34px;
    margin: 0 0 0 45px;
  }

  .reviews__slider-buttons {
    position: absolute;
    top: 545px;
    right: 51px;
  }

  .reviews__flex-wrapper {
    position: relative;
    margin-bottom: 45px;
  }

  .reviews__slider-button--left {
    margin-right: 22px;
  }

  .reviews__slide-list {
    display: flex;
    margin-left: 45px;
  }

  .reviews__slide {
    width: 556px;
    margin: 0 30px 0 0;
    padding-right: 50px;
  }

  .reviews__slide--david-ivanov {
    display: block;
  }

  .reviews__slide-flex-wrapper {
    display: flex;
    margin-bottom: 27px;
  }

  .reviews__slide-avatar-name {
    margin-top: 50px;
    margin-left: 50px;
  }

  .reviews__slide-avatar {
    margin-right: 15px;
  }

  .reviews__slide-name {
    font-size: 20px;
    line-height: 24px;
    margin-top: -1px;
  }

  .reviews__slide-data {
    margin-top: 74px;
    margin-left: 65px;
    margin-bottom: 0;
  }

  .reviews__slide-data-title {
    margin-bottom: 11px;
  }

  .reviews__slide-data-text {
    font-size: 14px;
  }

  .reviews__slide-header {
    font-size: 20px;
    line-height: 24px;
    margin-left: 50px;
    margin-bottom: 24px;
    width: 456px;
  }

  .reviews__slide p {
    font-size: 16px;
    width: 456px;
    margin-left: 50px;
    margin-bottom: 50px;
  }

  .reviews__slide p br {
    display: none;
  }

  .reviews__slide--lola-alex p br:first-child {
    display: none;
  }

  .reviews__slide--lola-alex p br:nth-child(2),
  .reviews__slide--lola-alex p br:nth-child(3) {
    display: inline;
  }

  .reviews__slide--lola-alex p br:nth-child(4) {
    display: none;
  }

  .reviews__slide--david-ivanov p br {
    display: none;
  }

  .reviews__slide--david-ivanov p br:nth-child(3) {
    display: inline;
  }

  .reviews__pagination {
    display: block;
  }

  .reviews__pagination-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0 0 60px 45px;
  }

  .reviews__pagination-item {
    height: 2px;
    background-color: #316dc2;
  }

  .reviews__pagination-item--active {
    width: 326px;
  }

  .reviews__pagination-item--disabled {
    width: 236px;
    opacity: 0.2;
  }

  .reviews__pagination-item--desktop {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .reviews__header {
    font-size: 50px;
    margin-left: 103px;
  }

  .reviews__flex-wrapper {
    margin-bottom: 40px;
  }

  .reviews__slide-list {
    margin-left: 100px;
  }

  .reviews__slide {
    padding-right: 44px;
    margin-right: 32px;
  }

  .reviews__slide-name {
    font-size: 18px;
    margin-top: -2px;
  }

  .reviews__slide-data-text {
    line-height: 18px;
  }

  .reviews__slide-data {
    margin-left: 119px;
  }

  .reviews__slide-data--david-ivanov {
    margin-left: 126px;
  }

  .reviews__slide-data-title {
    margin-bottom: 10px;
  }

  .reviews__slide-header {
    font-size: 24px;
    line-height: 26px;
    width: 510px;
    margin-bottom: 25px;
  }

  .reviews__slide-header br {
    display: inline;
  }

  .reviews__slide p {
    line-height: 26px;
    width: 500px;
  }

  .reviews__slide--lola-alex p br:nth-child(2),
  .reviews__slide--lola-alex p br:nth-child(3) {
    display: none;
  }

  .reviews__slide--david-ivanov p br {
    display: inline;
  }

  .reviews__pagination-list {
    margin-left: 100px;
    margin-bottom: 70px;
  }

  .reviews__pagination-item--active {
    width: 394px;
  }

  .reviews__pagination-item--disabled {
    width: 371px;
  }

  .reviews__slider-buttons {
    top: 625px;
    right: 106px;
  }
}
