.container {
  position: relative;
  margin: 0 auto;
  width: 320px;
}

.container--overflow {
  overflow: hidden;
}

@media (min-width: $tablet-width) {
  .container {
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: 1440px;
  }
}
