.more-info-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  border: 1px solid #316dc2;
  border-radius: 30px;
}

.more-info-link__text {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  color: #316dc2;
}

@media (min-width: $tablet-width) {
  .more-info-link__text {
    font-size: 14px;
    letter-spacing: 0.28px;
  }

  .more-info-link__icon {
    width: 46px;
    height: 46px;
  }
}
